<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP MNG</title>

    <style>
        @font-face {
            font-family: 'MontserratExtraLight';
            src: url('{{asset('fonts/Montserrat-ExtraLight.ttf')}}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'MontserratLight';
            src: url('{{asset('fonts/Montserrat-Light.ttf')}}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: linear-gradient(to right bottom, #2c3e50, #000000);
            color: white;
        }

        h1 {
            color: white;
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 0.5em;
            font-family: 'MontserratExtraLight', sans-serif;
        }

        p {
            color: orange;
            font-size: 1.7em;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 300;
            font-family: 'MontserratLight', sans-serif;
        }


        .neon-text {
            text-shadow:
                    0 0 42px rgba(255, 158, 0, 0.44),
                    0 0 82px rgba(255, 158, 0, 0.44),
                    0 0 92px rgba(255, 158, 0, 0.44),
                    0 0 102px rgba(255, 158, 0, 0.44),
                    0 0 151px rgba(255, 158, 0, 0.44);
        }


        .neon-text-white {
            text-shadow:
                    0 0 42px rgba(255, 255, 255, 0.73),
                    0 0 82px rgba(255, 255, 255, 0.73),
                    0 0 92px rgba(255, 255, 255, 0.73),
                    0 0 102px rgba(255, 255, 255, 0.73),
                    0 0 151px rgba(255, 255, 255, 0.73);
        }


    </style>
</head>
<body>
<div class="container">
    <h1 class="neon-text-white">404</h1>
    <p class="neon-text">NOT FOUND</p>
</div>
</body>
</html>
